html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(5, 78, 39);
    overflow-x: hidden; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    text-align: center;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.product-info {
    margin-left: 20px;
}

.product-image img {
    max-width: 80%;
    height: 100%;
    margin-bottom: 4rem;
}

.buy-now-btn {
    margin-top: 20px;
}

.buy-now-btn img {
    width: 20rem; 
    height: auto;
    margin-top: 1rem;
    margin-right: 2rem;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: white;
    border-bottom: 0;
    margin-left: 30rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}
.highlight {
    color: yellow; 
    font-weight: bold; 
}
p{
    color: white;
    font-size: 1.8rem;
    line-height: 3rem;
   margin-right: 2rem;
}
@media screen and (max-width: 450px) {
    .container {
        padding: 0 10px; 
    }
p{
    font-size:1.2rem ;
    line-height: 1.7rem;
    margin-left: 2rem;
}
    h1 {
        font-size: 1.7rem; 
        margin-left: 0; 
        margin-bottom: 1rem;
    }

    .product {
        flex-direction: column; 
    }

    .product-info {
        margin-left: 0; 
    }

    .product-image img {
        max-width: 60%; 
        margin-bottom: 1rem; 
    }

   .buy-now-btn img {
        width: 15rem; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
}
